body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header h1 {
    text-align: center;
    display: flex;

}

.teams {
    display: flex;
    padding: auto;
    background-color: orangered;
    margin: 0 auto;
}

.ui-menu-item {
    list-style: none;
}