body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header h1 {
    text-align: center;
    display: block;
    color: #f86624;
}

.row {
    display: flex;
}

.colomn {
    flex: 50%;
}

#formOne {
    display: flex;
}

.ui-menu-item {
    list-style: none;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* #savedCity {
    font-size: 28px;
    font-weight: bold;
} */

.versus {
    border-color: black;
    border-radius: 3px;
}

/* force a line break in divs */
.break {
    flex-basis: 100%;
    height: 0;
}

#api2 {
    display: flex;
    flex-wrap: wrap;
}

#api2Pic {
    max-width: 400px;
    max-height: 300px;
}

#homeScore {
    display: inline-block;
}

#awayScore {
    display: inline-block;
}

/* spacing between columns */
#stat2 {
    padding-left: 15px;
}

/* invisible padding to align stats */
.invis {
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    cursor: default;
    user-select: unset;
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    border: none transparent;
    text-decoration: none;
    border-radius: 2px;
    display: inline-block;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    font-weight: normal;
    width: 131px;
}