body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header h1 {
    text-align: center;
    display: block;
    color: #f86624;
}

.row {
    display: flex;
}

.colomn {
    flex: 50%;
}

.ui-menu-item {
    list-style: none;
}